

/*FLASKY STUFF FROM ORIGINAL TEMPLATE - DONT TOUCH?*/

.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    /*margin-left: 280px;*/
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}


/*TEMPORARY EDITS? */


#loginform.col-sm-6 {
  float: none;
  margin:0 auto;
}

#loginform #submit{
  margin-left: 40%;
}

.profile-header p {
  font-size: 18px;
  font-weight: 500;
}

#textspacing {
  margin-top: 25px;
  margin-bottom: 50px;
}

input[type=checkbox]
{
  -webkit-appearance:checkbox;
}

#view2{
  margin-left: 10px;
}



/*CONTAINER EDITS*/



#wrapper {
	margin-top: 60px;
}

body {
	background-color: rgb(244,244,245);
}

.container {
	background-color: #fff;
	border-radius: 4px;
}

 /*NAVBAR STUFF */

 .navbar {
 	min-height: 65px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
 }

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.navbar-collapse {
	padding-bottom: 10px;
  font-size: 1.2em;
	margin-left: 30px;
	margin-right: 30px;
}

.navbar-brand {
  padding: 10px 60px;
}
.navbar-brand>img {
	display: inline-block;
	width:40px;
  height:40px;

}

.navbar-brand>p {
	display: inline-block;
	font-family: Just Another Hand, sans-serif;
	font-size: 32px;
	color: #fff;
}

.navbar-brand>p:hover {
	color: #A8D5E9;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #A8D5E9;
}

.navbar {
  border-bottom-color: rgb(242,37,121);
	border-bottom-width: medium;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	 -moz-box-shadow: 0 8px 6px -6px #999;
	 box-shadow: 0 8px 6px -6px #999;
}

.page-header h2 {
	font-size: 42px;
	text-align: center;
	font-family: Roboto Condensed, sans-serif;
}

a.dropdown-toggle {
margin-right: 15px;
}

.navbar-default {
	background-color: #232f3e;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	border-color: black;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #232f3e;
	color: #fff;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}


.navbar-right .dropdown-menu {
	right: 14px;
}


/*INDEX PAGE EDITS */

#makejob {
	width: 600px;
}

/* CSS FROM TEMPLATE */

header.masthead {
	background-image:
}
.header-content {
position:relative;
width:100%;
padding:40px 15px 100px;
text-align:center
}

.header-content-inner {
	max-width:1000px;
	margin-right:auto;
	margin-left:auto;
}

.header-content-inner h1, h2 {
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
font-size: 50px;
font-weight: 700;
margin-top: 0;
margin-bottom: 0;
text-transform: uppercase;
box-shadow: 0 0 black;
line-height: 1.1;
}

.header-content-inner p{
font-weight: 300;
font-size: 24px;
margin-bottom: 50px;
line-height: 1.5;
}

.btn {
font-weight: 700;
text-transform: uppercase;
border: none;
border-radius: 300px;
	}

.btn-primary:hover {
	background-color: blue;
}
